.App {
  text-align: center;
  display: flex;
    align-items: center;
  justify-content: center;
  background-color: #646974c7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 200px;
  border-radius: 100px;
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  transition: 0.5s ease-out;

}

.container:hover{
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  transition: 0.5s ease-out;

}


.even{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  margin: 10px;
  transition: 0.3s ease-in;
}

.even:hover{
  transform:translateY(-10px); 
}

.odd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  transition: 0.5s ease-out;
  margin: 10px;
}

.odd:hover{
  transform:translateY(10px); 
}